Kata/No.001 String average/No.001 String average/.vs/No.001 String average/v16/.suo
*.v2
Kata/No.001 String average/No.001 String average/.vs
Kata/No.001 String average/No.001 String average/No.001 String averageTests/bin
Kata/No.001 String average/No.001 String average/No.001 String averageTests/obj
Kata/No.001 String average/No.001 String average/No.001 String average/bin
Kata/No.001 String average/No.001 String average/No.001 String average/obj
Kata/No.002 Dead Ants/No.002 Dead Ants/.vs
Kata/No.002 Dead Ants/No.002 Dead Ants/No.002 Dead AntsTests/obj
Kata/No.002 Dead Ants/No.002 Dead Ants/No.002 Dead AntsTests/bin
Kata/No.002 Dead Ants/No.002 Dead Ants/No.002 Dead Ants/obj
Kata/No.002 Dead Ants/No.002 Dead Ants/No.002 Dead Ants/bin
